{% extends "base.html.twig" %}

{% block body %}


 <img src="{{ asset('uploads/img/restau.jpg ') }}"alt="...">

    <h1>Notre restaurant</h1>

<section>

<div>

    <h2> Carte brasseri</h2>

</div>

</section>
     


{% endblock %}

